[Unit]
Description=VSS D-Bus Service
After=network.target

[Service]
ExecStart=/usr/lib/vss-lib/dbus/container_dbus_service
Restart=no
User=root

[Install]
WantedBy=multi-user.target
