[Unit]
Description=VSS D-Bus Service
After=network.target

[Service]
# Starts the VSS D-Bus service inside a container
ExecStart=/usr/lib/vss-lib/dbus/container_dbus_service

# Stops only containers whose name matches the pattern "vss_container*"
# -q: Outputs only the container IDs
# --filter "name=vss_container": Filters containers whose name starts with "vss_container"
# -t0: Stops containers immediately without waiting for a graceful shutdown
ExecStop=/bin/bash -c 'sudo podman stop $(sudo podman ps -q --filter "name=vss_container") -t0'

# Automatically restart the service if it stops unexpectedly
Restart=always

# Run the service as root
User=root

[Install]
# Ensures the service is started in multi-user mode
WantedBy=multi-user.target
