[Unit]
Description=VSS D-Bus Service
After=network.target

[Service]
# Find the highest Python version and store it in an environment file
ExecStartPre=/bin/sh -c 'ls -d /usr/lib/python3* | grep -o "python3\.[0-9]\+" | sort -V | tail -n 1 > /run/python_version'
# Load the highest Python version from the environment file
EnvironmentFile=/run/python_version
# Define the full path to the vss_dbus_service.py using the highest Python version
ExecStart=/usr/bin/$python_version/bin/python3 /usr/lib/$python_version/site-packages/vss_lib/dbus/vss_dbus_service.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target

