# TOML Format
[global]
timer = 2  # Timer interval to re-print messages in the D-Bus interface

# vss_lib_search_paths: This list contains the paths where the system will search for the vss-lib package.
# The first path found will be used to mount the VSS library into the container.
# The default priority is to first search in `/usr/lib/{python_version}/site-packages/vss-lib/` and then
# fallback to `/usr/local/lib/{python_version}/site-packages/vss-lib/`.
#
# {python_version} is dynamically replaced with the current Python version (e.g., python3.8).
vss_lib_search_paths = [
    "/usr/lib/{python_version}/site-packages/vss_lib/",
    "/usr/local/lib/{python_version}/site-packages/vss_lib/"
]


# Path for all VSS files, defined as a macro for easy reuse
vspec_path = "/usr/share/vss-lib/"

# Path to ContainerFile for D-Bus Manager demo
containerfile_dbus_manager = "/usr/share/vss-lib/dbus-manager/ContainerFile"

[vehicle_toyota]
vendor = "toyota"
vspec_file = "/usr/share/vss-lib/toyota.vspec"
preference = "ASIL"
attach_electronics = ["bosch", "renesas"]

[vehicle_bmw]
vendor = "bmw"
vspec_file = "/usr/share/vss-lib/bmw.vspec"
preference = "QM"
attach_electronics = ["bosch"]

[vehicle_ford]
vendor = "ford"
vspec_file = "/usr/share/vss-lib/ford.vspec"
preference = "QM"
attach_electronics = ["bosch"]

[vehicle_honda]
vendor = "honda"
vspec_file = "/usr/share/vss-lib/honda.vspec"
preference = "ASIL,QM"
attach_electronics = ["renesas"]

[vehicle_jaguar]
vendor = "jaguar"
vspec_file = "/usr/share/vss-lib/jaguar.vspec"
preference = "ASIL,QM"
attach_electronics = ["bosch"]

[vehicle_mercedes]
vendor = "mercedes"
vspec_file = "/usr/share/vss-lib/mercedes.vspec"
preference = "ASIL,QM"
attach_electronics = ["bosch"]

[vehicle_volvo]
vendor = "volvo"
vspec_file = "/usr/share/vss-lib/volvo.vspec"
preference = "ASIL,QM"
attach_electronics = ["bosch"]


[electronics_bosch]
vspec_file = "/usr/share/vss-lib/electronics/bosch.vspec"

[electronics_renesas]
vspec_file = "/usr/share/vss-lib/electronics/renesas.vspec"
