# TOML Format
[global]
timer = 2  # Timer interval to re-print messages in the D-Bus interface

# Path for all VSS files, defined as a macro for easy reuse
vspec_path = "/usr/share/vss-lib/"

[vehicle_toyota]
vendor = "toyota"
vspec_file = "/usr/share/vss-lib/toyota.vspec"
preference = "ASIL"
attach_electronics = ["bosch", "renesas"]

[vehicle_bmw]
vendor = "bmw"
vspec_file = "/usr/share/vss-lib/bmw.vspec"
preference = "QM"
attach_electronics = ["bosch"]
